article {
    margin-top: 30px;
    margin-bottom: 50px;
}

article div {
    text-align: center;
}

input {
    font-size: 20px;
}


/* 방 선택 */
#defaultCCTV label {
    display: block;
    width: 100%;
    height: 100%
}

#cctv1 {
    height: 35px;
}

#cctv2 {
    height: 35px;
}

#cctv3 {
    height: 35px;
}

#cctvBtn1 {
    display: none;
}

#cctvBtn2 {
    display: none;
}

#cctvBtn3 {
    display: none;
}

#cctvList label {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 35px;
    cursor: pointer;
}

#cctvMenu {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    background-color: #C65146;
}

#defaultCCTV {
    height: 100%;
    line-height: 50px;
}

#cctvLabel {
    display: block;
    white-space: nowrap;
    cursor: pointer;
}

#defaultText {
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    display: inline;
}

#arrow {
    display: inline;
    float: right;
}

#cctvListFrame {
    display: none;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    border: 0.1px solid whitesmoke;
    box-shadow: 0 4px 5px 0 #00000026;
    z-index: 3;
    margin-top: 2px;
    position: absolute;
}

/* #cctvMenu:hover > #cctvListFrame {
    display:block;
} */

/* 차트 프레임 */
.chartFrame {
    border-radius: 15px;
    border: 1px solid #87878726;
    box-shadow: 0 4px 5px 0 #00000026;
    width: 92%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
}

.chartImg {
    background-color: #C65146;
    margin: 10px 0px 0px 10px;
    border-radius: 15px;
    float: left;
}

.typeOfData {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #C65146;
    margin: 20px 0px 0px 10px;
    float: left;
}


/* 시간 단위 선택 */
.unitOfTime {
    width: 100%;
}

.unitOfTime div {
    display: inline;
}


/* 기간 입력 */
.upInput {
    display: inline-block;
}
.downInput {
    display: inline-block;
    margin: 0px 0px 0px 6px;
}

.inputDate {
    margin-top: 15px;
    width: 100%;
}

.inputDate form {
    margin-top: 30px;
    display: block;
    width: 100%;
}

input[type="date"] {
    width: 110px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #87878726;
    box-shadow: 0 4px 5px 0 #00000026;
    /* background-color: whitesmoke; */
    cursor: pointer;
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
} */
select {
    font-family: "Noto Sansf KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;

    color: #444;
    background-color: #fff;
    margin: 0;

    border-radius: 10px;
    border: 1px solid #87878726;
    box-shadow: 0 4px 5px 0 #00000026;
    /* background-color: whitesmoke; */
    cursor: pointer;
}

select:hover {
    border-color: #888;
}

select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

select:disabled {
    opacity: 0.5;
}

#selectStartTime {
    display: none;
}

#selectEndTime {
    display: none;
}

#selectStartTime2 {
    display: none;
}

#selectEndTime2 {
    display: none;
}

#selectStartTime3 {
    display: none;
}

#selectEndTime3 {
    display: none;
}

.submitBtn {
    width: 30px;
    height: 30px;
    margin: 3px 10px 10px 10px;
    background-color: #C65146;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.submitImg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


#chartOne {
    margin-left: 5px;
    margin-bottom: 5px;
}

#chartTwo {
    margin-left: 5px;
    margin-bottom: 5px;
}

#chartThree {
    margin-left: 5px;
    margin-bottom: 5px;
}