<head>
    <link href="{{ url_for('static', path='/block.css') }}" rel="stylesheet"> 
</head>
<body>
    <article class="one">
        <div class="inputDate">
            <input type="date" id="startDate" value="{{ defaultStart }}" max="{{ today }}">
            ~
            <input type="date" id="endDate" value="{{ today }}" max="{{ today }}">
            <button id="submit" onClick="doSubmit()">확인</button>
        </div>
        <div>
            <input type="radio" id="24h" name="activity" value="24h">
            <label for="24h">24시간 평균</label>
        </div>
        <div>
            <input type="radio" id="default" name="activity" value="default" checked>
            <label for="default">기본</label>
        </div>
        <canvas id="chartOne"></canvas>
    </article>
</body>