<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', path='/favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', path='/favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', path='/favicon_io/favicon-16x16.png') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>소카우넷</title>

    <link href="{{ url_for('static', path='/layout.css')}}" rel="stylesheet">
    {% block style %}{% endblock %}
</head>

<body>
    <div class="container">
        <header id="intro">
            <nav id="navigation">
                <ul>
                    <li class="one"><a href="/graph">SoCowNet</a></li>
                    <li class="two"><a href="/graph">한우DB</a></li>
                    <li class="three"><a href="/live">모니터링</a></li>
                </ul>
            </nav>
        </header>
        <main role="main" id="main">
            {% block main %}{% endblock %}
        </main>
        <footer></footer>
    </div>
</body>
{% block script %}{% endblock %}

</html>