{% extends "layout.html" %}
{% block style %}
<link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
<article class="one">
    <div class="inputDate">
        <form>
        <input type="date" id="startDate" value="{{ defaultStart }}" max="{{ today }}">
        ~
        <input type="date" id="endDate" value="{{ today }}" max="{{ today }}">
        <button type="" id="submit" onClick="doSubmit()">확인</button>
        </form>
    </div>
    <div>
        <input type="radio" id="24h" name="activity" value="24h">
        <label for="24h">24시간 평균</label>
    </div>
    <div>
        <input type="radio" id="default" name="activity" value="default" checked>
        <label for="default">기본</label>
    </div>
    <canvas id="chartOne"></canvas>
</article>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script type="text/javascript">
    const randomlist = {{ randomlist }}
    
    const testDataset = {{ (testDataset) }}
    

    function dataConnect () => {
    const testDa = [];
	var colorNames = Object.keys(window.chartColors);
	// 새로운 데이터셋 세팅 
	var newData = {
        data: null,
        label: null,
        borderColor: '',
        fill: false
    }

	for (let index = 0; index < testDataset.length; index++) {
		// 데이터 세팅 
		var settingData = JSON.parse(JSON.stringify(newData));
		// 배경
		settingData.data = randomlist[index]['data'];
        console.log(randomlist[index]['data']);

		// 선색
		settingData.borderColor = chartColors[colorNames[index + 2]];
		// 라벨
		settingData.label = testDataset[index]['label'];
        console.log(testDataset[index]['label']);
        testDa.push(settingData)
	}

    return testDa
});

    let myChart = new Chart(document.getElementById("chartOne"), {
        type: 'line',
        data: {
            labels: [],
            datasets: dataConnect()
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                }
            },
            animation: {
                duration: 0
            }
        }
    });
</script>
<script src="{{ url_for('static', path='main.js') }}"></script>
{% endblock %}