{% extends "layout.html" %}
{% block style %}
<link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
<article class="one">
    <div class="inputDate">
        <form>
            <input type="date" id="startDate" value="{{ defaultStart }}" max="{{ today }}">
            ~
            <input type="date" id="endDate" value="{{ today }}" max="{{ today }}">
            <button type="button" id="submit" onClick="doSubmit()">확인</button>
        </form>
    </div>
    <div>
        <input type="radio" id="24h" name="activity" value="24h">
        <label for="24h">24시간 평균</label>
    </div>
    <div>
        <input type="radio" id="default" name="activity" value="default" checked>
        <label for="default">기본</label>
    </div>
    <canvas id="chartOne"></canvas>
</article>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript">
    const randomlist = {{ randomlist }}

    const testDataset = [{
        data: randomlist[0],
        label: "1번 방",
        borderColor: "#3e95cd",
        fill: false
    }, {
        data: randomlist[1],
        label: "2번 방",
        borderColor: "#8e5ea2",
        fill: false
    }, {
        data: randomlist[2],
        label: "3번 방",
        borderColor: "#3cba9f",
        fill: false
    }, {
        data: randomlist[3],
        label: "4번 방",
        borderColor: "#e8c3b9",
        fill: false
    }, {
        data: randomlist[4],
        label: "5번 방",
        borderColor: "#c45850",
        fill: false
    }
    ]
    let myChart = new Chart(document.getElementById("chartOne"), {
        type: 'line',
        data: {
            labels: [],
            datasets: testDataset
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                }
            },
            animation: {
                duration: 0
            }
        }
    });
</script>
<script src="{{ url_for('static', path='main.js') }}"></script>
{% endblock %}