{% extends "layout.html" %}
{% block style %}
{% endblock %}
{% block main %}
        {# <video src="http://192.168.70.209:9875/cow" width="500" height="300" controls="" autoplay="" muted=""> </video> #}
<img src="{{ url_for('stream_video') }}" width="100%">
{% endblock %}
{% block script %}
{% endblock %}