{% extends "layout.html" %}
{% block style %}
<style>
#cctv {
    width: 95%;
    height: 400px;
    margin: 0 auto;
    margin-top: 10px;
}
</style>
{% endblock %}
{% block main %}
{# {{ url_for('static', path='testvideo.webm') }} #}
{# <video src="/video/mapvideo" width="500" height="300" controls autoplay muted>
</video> #}
<article class="cctvContent">
    <div id="cctv">
        <img src="{{ url_for('stream_video') }}" width="100%">
    </div>
</article>
{% endblock %}
{% block script %}
{% endblock %}