/* Default */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR@400', sans-serif;
    font-weight: 400;
    text-align: center;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 100%;
    margin: 0 auto;
}

ol,
li {
    list-style: none;
}

/* header */
#intro {
    height: 80px;
    background-color: whitesmoke;
}

#intro nav {
    width: 100%;
    height: 100%;
}

#intro nav ul {
    width: 100%;
    height: 100%;
}

#intro nav ul li {
    float: left;
    height: 100%;
}

#intro nav ul li.one {
    width: 50%;
}

#intro nav ul li.one a{
    float: left;
    margin-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
}

#intro nav ul li.two {
    width: 25%;
}

#intro nav ul li.three {
    width: 25%;
}

#intro nav ul li a {
    font-size: 25px;
    font-weight: bold;
    display: block;
    line-height: 80px;
}

/* main */
#main {
    background-color: rgb(250, 250, 250);
    ;
}